nodered/flows.json
[
    {
        "id": "e9df925d5cb4a7b5",
        "type": "tab",
        "label": "Insert raw data",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fe78548ad9d34539",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "28bf60a032e41c72",
        "type": "MySQLdatabase",
        "name": "iot_home",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "iot_home",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "249ca6a476e774be",
        "type": "mqtt in",
        "z": "e9df925d5cb4a7b5",
        "name": "hvac readings",
        "topic": "/home/15min/hvac",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fe78548ad9d34539",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 100,
        "wires": [
            [
                "831a6af2fa663e8b",
                "2548e4132d4348be"
            ]
        ]
    },
    {
        "id": "e49422a98062ac72",
        "type": "mysql",
        "z": "e9df925d5cb4a7b5",
        "mydb": "28bf60a032e41c72",
        "name": "db",
        "x": 870,
        "y": 480,
        "wires": [
            [
                "dd39b0dc3221cc4b"
            ]
        ]
    },
    {
        "id": "2548e4132d4348be",
        "type": "function",
        "z": "e9df925d5cb4a7b5",
        "name": "insert query",
        "func": "const data = msg.payload;\nmsg.payload = [data.dtime, data.device, data.reading];\nmsg.topic = \"INSERT INTO HVAC(dtime, device, reading) VALUES ( ?, ?, ?);\" ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 100,
        "wires": [
            [
                "e49422a98062ac72"
            ]
        ]
    },
    {
        "id": "dd39b0dc3221cc4b",
        "type": "debug",
        "z": "e9df925d5cb4a7b5",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 480,
        "wires": []
    },
    {
        "id": "831a6af2fa663e8b",
        "type": "debug",
        "z": "e9df925d5cb4a7b5",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 40,
        "wires": []
    },
    {
        "id": "df21a50f372dd3d3",
        "type": "mqtt in",
        "z": "e9df925d5cb4a7b5",
        "name": "th readings",
        "topic": "/home/15min/th",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fe78548ad9d34539",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 240,
        "wires": [
            [
                "3450322958925b79",
                "507d85ba3ce5a665"
            ]
        ]
    },
    {
        "id": "507d85ba3ce5a665",
        "type": "function",
        "z": "e9df925d5cb4a7b5",
        "name": "insert query",
        "func": "const data = msg.payload;\nmsg.payload = [data.dtime, data.device, data.reading];\nmsg.topic = \"INSERT INTO TH(dtime, device, reading) VALUES ( ?, ?, ?);\" ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 240,
        "wires": [
            [
                "e49422a98062ac72"
            ]
        ]
    },
    {
        "id": "3450322958925b79",
        "type": "debug",
        "z": "e9df925d5cb4a7b5",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 180,
        "wires": []
    },
    {
        "id": "429626eecf48cc52",
        "type": "mqtt in",
        "z": "e9df925d5cb4a7b5",
        "name": "miac readings",
        "topic": "/home/15min/miac",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fe78548ad9d34539",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 380,
        "wires": [
            [
                "e4406187b615e981",
                "df0f31f5a0565498"
            ]
        ]
    },
    {
        "id": "df0f31f5a0565498",
        "type": "function",
        "z": "e9df925d5cb4a7b5",
        "name": "insert query",
        "func": "const data = msg.payload;\nmsg.payload = [data.dtime, data.device, data.reading];\ncontext.set('last_miac', data.reading);\nmsg.topic = \"INSERT INTO MIAC(dtime, device, reading) VALUES ( ?, ?, ?);\" ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 380,
        "wires": [
            [
                "e49422a98062ac72"
            ]
        ]
    },
    {
        "id": "e4406187b615e981",
        "type": "debug",
        "z": "e9df925d5cb4a7b5",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 320,
        "wires": []
    },
    {
        "id": "8dcbc389dee152dc",
        "type": "mqtt in",
        "z": "e9df925d5cb4a7b5",
        "name": "etot readings",
        "topic": "/home/day/etot",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fe78548ad9d34539",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 520,
        "wires": [
            [
                "205bf8dd911f7ea1",
                "42bf2bc2c76055c5"
            ]
        ]
    },
    {
        "id": "42bf2bc2c76055c5",
        "type": "function",
        "z": "e9df925d5cb4a7b5",
        "name": "insert query",
        "func": "const data = msg.payload;\nmsg.payload = [data.dtime, data.reading];\nmsg.topic = \"INSERT INTO Etot(dtime, reading) VALUES (?, ?);\" ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 520,
        "wires": [
            [
                "e49422a98062ac72"
            ]
        ]
    },
    {
        "id": "205bf8dd911f7ea1",
        "type": "debug",
        "z": "e9df925d5cb4a7b5",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 460,
        "wires": []
    },
    {
        "id": "c9f9e1e2a1bf81ef",
        "type": "mqtt in",
        "z": "e9df925d5cb4a7b5",
        "name": "move readings",
        "topic": "/home/sensor",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fe78548ad9d34539",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 640,
        "wires": [
            [
                "6d528401e0fe4cca",
                "ac32c3a1ad511fbf",
                "e25fcc7fa5f2270e"
            ]
        ]
    },
    {
        "id": "ac32c3a1ad511fbf",
        "type": "function",
        "z": "e9df925d5cb4a7b5",
        "name": "insert query",
        "func": "const data = msg.payload;\nmsg.payload = [data.dtime, data.device];\nmsg.topic = \"INSERT INTO Movement(dtime, device) VALUES (?, ?);\" ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 640,
        "wires": [
            [
                "e49422a98062ac72"
            ]
        ]
    },
    {
        "id": "6d528401e0fe4cca",
        "type": "debug",
        "z": "e9df925d5cb4a7b5",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 580,
        "wires": []
    },
    {
        "id": "9d0f059ba1e6e081",
        "type": "mqtt in",
        "z": "e9df925d5cb4a7b5",
        "name": "water readings",
        "topic": "/home/15min/water",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fe78548ad9d34539",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 760,
        "wires": [
            [
                "69b6480f6b6c21a3",
                "30e6313d0e7f3be5"
            ]
        ]
    },
    {
        "id": "30e6313d0e7f3be5",
        "type": "function",
        "z": "e9df925d5cb4a7b5",
        "name": "insert query",
        "func": "const data = msg.payload;\nmsg.payload = [data.dtime, data.reading];\nvar today = new Date();\nvar readingDate = new Date(data.dtime);\nvar dayDiff = Math.floor((today.getTime() - readingDate.getTime()) / 86400000)\nif (dayDiff == 0) {\n    msg.payload = [data.dtime, data.device, data.reading];\n    msg.topic = \"INSERT INTO Water(dtime, device, reading) VALUES (?, ?);\";\n}\nelse if (dayDiff == 10) {\n    msg.payload = [data.dtime_event, data.dtime_received, data.device, data.reading];\n    msg.topic = \"INSERT INTO RejectedEvents(dtime_event, dtime_received, device, reading) VALUES (?, ?);\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 760,
        "wires": [
            [
                "e49422a98062ac72"
            ]
        ]
    },
    {
        "id": "69b6480f6b6c21a3",
        "type": "debug",
        "z": "e9df925d5cb4a7b5",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 700,
        "wires": []
    },
    {
        "id": "4e26a87c21a74c50",
        "type": "mqtt in",
        "z": "e9df925d5cb4a7b5",
        "name": "watertot readings",
        "topic": "/home/day/watertot",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fe78548ad9d34539",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 900,
        "wires": [
            [
                "8a2042cb25f35724",
                "d20da43bc427c652"
            ]
        ]
    },
    {
        "id": "d20da43bc427c652",
        "type": "function",
        "z": "e9df925d5cb4a7b5",
        "name": "insert query",
        "func": "const data = msg.payload;\nmsg.payload = [data.dtime, data.reading];\nmsg.topic = \"INSERT INTO watertot(device, reading) VALUES (?, ?);\" ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 900,
        "wires": [
            [
                "e49422a98062ac72"
            ]
        ]
    },
    {
        "id": "8a2042cb25f35724",
        "type": "debug",
        "z": "e9df925d5cb4a7b5",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 840,
        "wires": []
    },
    {
        "id": "e25fcc7fa5f2270e",
        "type": "function",
        "z": "e9df925d5cb4a7b5",
        "name": "trigger_alarm",
        "func": "function is_night_time(dtime) {\n    const date = new Date(dtime);\n    const hour = date.getHours();\n    const minutes = date.getMinutes();\n    return (hour >= 2 && (hour <=5 || (hour == 6 && minutes == 0)));\n}\n\nif (context.get('last_miac') < 100) {\n    msg.payload.trigger = 'energy';\n}\nelse if (is_night_time()) {\n    msg.payload.trigger = 'time';\n}\nelse {\n    return null\n}\n\nconst data = msg.payload;\nmsg.payload = [data.dtime, data.trigger];\nmsg.topic = \"INSERT INTO Alarms(dtime, trigger) VALUES (?, ?);\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1080,
        "wires": [
            [
                "e49422a98062ac72"
            ]
        ]
    }
]